html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#rotate {
  transform: rotate(deg);
  background-color: limegreen;
  width: 100px;
  height: 100px;
}
